.container{
  max-width: 50vw;
}

.title{
    margin: 1;
    line-height: 1.5;
    font-size: 1rem;
    background-color: black;
    margin: .5rem;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}

.title,
.description {
  color: white;
  text-align: center;
}