.container{
   max-width: 50vw;
}

.title{
    margin: 0.5;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #e6d6d6ad;
    margin: .5rem;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
}

.title,
.description {
  color: white;
  text-align: center;
}