.mediaGrid > div {
  display: flex;
  flex-flow: wrap;
}

.mediaItem {
  border: 1px solid rgb(209, 204, 204);
  padding: 3px;
  display: flex;
}
.mediaItemImg {
  width: 200px;
  object-fit: cover;
}